body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
}
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.editor-container {
    margin-top: 10px;
}
textarea {
    width: 100%;
    height: 300px;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    resize: none;
    color: #333;
}
button {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: white;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #555;
}
h2 {
    font-size: 22px;
    margin-top: 20px;
    color: #333;
}
pre {
    width: 100%;
    height: 200px;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    color: #00ff00;
    overflow-y: scroll;
}
.file-container {
    margin-top: 20px;
}
select {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
}
.success-message, .error-message {
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
}
.success-message {
    background-color: #4CAF50;
    color: white;
}
.error-message {
    background-color: #f44336;
    color: white;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.message-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
.message-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.message-box input {
    font-size: 16px;
    padding: 10px;
    width: 75%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.green-button {
    font-size: 16px;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
}
.green-button:hover {
    background-color: #45a049;
}
.red-button {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s ease;
}
.red-button:hover {
    background-color: #d32f2f;
}