@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 10px;
}
h1 {
    font-size: 28px;
}
.pokemon {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.pokemon img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}
.pokemon-info {
    flex: 1;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
p {
    margin-bottom: 10px;
}
ul {
    list-style: disc;
    margin-left: 20px;
}
.additional-info {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
}
.additional-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.additional-info ul {
    list-style: disc;
    margin-left: 20px;
}
.evolution-info {
    background-color: #e0e0e0;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
}
.evolution-info img {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    display: block;
}
.evolution-line {
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
.evolution-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.evolution-info p {
    font-size: 16px;
    margin: 10px 0;
}